body {
    background-color: #e6d9ca;
}

.homepage {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 15px;
    padding-bottom: 50px;
}

.about {
    background: #ffffff99;
    border-radius: 10px;
    padding: 10px;
}

.circle {
    height: 500px;
    width: 500px;
    border-radius: 250px;
    background-color: red;
    position: fixed;
    z-index: -1;
    left: 50%;
    top: 50%;
    /* -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); */
    /* -ms-transform: translate(-50%, -50%); */
    /* -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
    transform: translate(-50%, -50%);
}

.characters-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    border: solid;
    text-align: center;
}

.characters-info {
    width: 100%;
    padding-top: 20px;
}

.characters {
    flex-basis: 19%;
    border: solid;
    padding: 18px;
    border-radius: 10px;
    background-color: #f3ebeb;
}

.card-container {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 85vh;
    position:absolute;
    z-index: 1;
    width:100%;
}

.card {
    display: flex;
    width: 175px;
    height: 225px;
    font-size: 75px;
    background-color: #f3ebeb;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: solid;
    border-radius: 10px;
    box-shadow: 5px 5px 20px; 

    -webkit-transform-style: preserve-3d; transform-style: preserve-3d;
    /* transform-style: preserve-3d; */
    -webkit-transition: all 0.5s ease; transition: all 0.5s ease;
    /* transition: all 0.5s ease; */
    
}

.front-card {
    position: absolute;
    backface-visibility: hidden;
    /* -webkit-backface-visibility: hidden; backface-visibility: hidden; */
    transform: rotateX(0deg);
}

.back-card {
    position:absolute;
    /* z-index: 2; */
    backface-visibility: hidden;
    /* -webkit-backface-visibility: hidden; backface-visibility: hidden; */
    /* -webkit-transform: rotateY(180deg); transform: rotateY(180deg); */
    /* -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg); */
    transform: rotateY(180deg);
    /* transform-style: preserve-3d; */
}

.number-of {
    position: fixed;
    padding-left: 15px;
}

.buttons {
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 91vh;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.button, .begin-quiz {
    color: #bd2842;
    background-color: #dcba9d;
    border: solid black 3px;
    width: 125px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 5px 0px;
    cursor: pointer;
    line-height: 2.5;
}

.study-info {
    position: fixed;
    top: 42.5vh;
    width: 100px;
    margin-left: 10px;
}

.order-choice {
    position: fixed;
    right: 3px;
}

.quiz-cointainer {
    display: flex;
}

.quiz-bar {
    position: absolute;
    z-index: 2;
    bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    background: white;
    border: solid black 1px;

    color: #bd2842;
    background-color: #dcba9d;
}

.quiz-bar h1 {
    border: solid black 3px;
    margin-top: 5px;
    width: 70px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 5px 0px;
    cursor: pointer;
}

.quiz-bar h1:hover, .button:hover, .begin-quiz:hover {
    color: #557aca;
}

.correct-count {
    position: fixed;
    right: 0;
    padding: 5px;
    border: solid black 2px;
    border-radius: 5px;
    margin-right: 15px;
}
.correct {
    color: #4faa4f;
}
.incorrect {
    color: #ce5252;
}

.begin-quiz-container {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    /* height: 100%;
    width: 100%; */
}

.begin-quiz {
    display: flex;
    position: absolute;
    top: 48.5vh;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 150px;
}

.quiz-complete {
    width: 65%;
    border: solid black 1px;
    border-radius: 10px;
    background-color: #f3ebeb;
    position: absolute;
    top: 40.5vh;
    padding: 15px;
    text-align: center;
}

@media only screen and (max-width: 375px) {
    .homepage {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        padding: 15px
    }
}