body {
    background-color: #e6d9ca;
}

.homepage {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 75vh;
    padding: 15px
}

.about {
    background: #ffffff99;
    border-radius: 10px;
    padding: 10px;
}

.circle {
    height: 500px;
    width: 500px;
    border-radius: 250px;
    background-color: red;
    position: fixed;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.characters-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    border: solid;
    text-align: center;
}

.characters-info {
    width: 100%;
    padding-top: 20px;
}

.characters {
    flex-basis: 18%;
    border: solid;
    padding: 20px;
    border-radius: 10px;
    background-color: #f3ebeb;
}

.card-container {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.card {
    display: flex;
    width: 175px;
    height: 225px;
    font-size: 75px;
    background-color: #f3ebeb;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: solid;
    border-radius: 10px;
    box-shadow: 5px 5px 20px; 

    position:absolute;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

/* .card:hover {
    transform: rotateY(180deg);
} */

.front-card {
    position: absolute;
    backface-visibility: hidden;
}

.back-card {
    position:absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg)
}

.number-of {
    position: fixed;
}

.buttons {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

button {
    width: 78px;
}

.study-info {
    position: fixed;
    top: 42.5vh;
    width: 100px;
}

.order-choice {
    position: fixed;
    right: 3px;
}